<div class="row g-3 align-items-end">
  <div class="col-12 col-md-2">
    <label class="form-label fw-semibold" for="update-book-id">ID</label>
    <input id="update-book-id" class="form-control" type="number" [(ngModel)]="newBook.id">
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label fw-semibold" for="update-book-title">Title</label>
    <input id="update-book-title" class="form-control" type="text" [(ngModel)]="newBook.title">
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label fw-semibold" for="update-book-author">Author</label>
    <input id="update-book-author" class="form-control" type="text" [(ngModel)]="newBook.author">
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label fw-semibold" for="update-book-publisher">Publisher</label>
    <input id="update-book-publisher" class="form-control" type="text" [(ngModel)]="newBook.publisher">
  </div>

  <div class="col-12 col-md-1 d-grid">
    <button class="btn btn-warning" type="button" (click)="bookServices.updateBook(newBook)">Update</button>
  </div>
</div>
