<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="credit"
          class="demo.service.CreditCard"/>
    <bean id="debit"
          class="demo.service.DebitCard"/>
    <bean id="upi"
          class="demo.service.Upi"/>

    <bean id="email"
          class="demo.service.Email"/>
    <bean id="whatsapp"
          class="demo.service.Whatsapp"/>



    <bean id="ExpenseManager1" class="demo.service.ExpenseManager">
        <constructor-arg ref="credit"></constructor-arg>
        <constructor-arg ref="email"></constructor-arg>
    </bean>

    <bean id="ExpenseManager2" class="demo.service.ExpenseManager">
        <constructor-arg ref="credit"></constructor-arg>
        <constructor-arg ref="whatsapp"></constructor-arg>
    </bean>

    <bean id="ExpenseManager3" class="demo.service.ExpenseManager">
        <constructor-arg ref="debit"></constructor-arg>
        <constructor-arg ref="email"></constructor-arg>
    </bean>

    <bean id="ExpenseManager4" class="demo.service.ExpenseManager">
        <constructor-arg ref="debit"></constructor-arg>
        <constructor-arg ref="whatsapp"></constructor-arg>
    </bean>

    <bean id="ExpenseManager5" class="demo.service.ExpenseManager">
        <constructor-arg ref="upi"></constructor-arg>
        <constructor-arg ref="email"></constructor-arg>
    </bean>

    <bean id="ExpenseManager6" class="demo.service.ExpenseManager">
        <constructor-arg ref="upi"></constructor-arg>
        <constructor-arg ref="whatsapp"></constructor-arg>
    </bean>







</beans>